.header {
  grid-area: head;
  background-color: $color-grey-light-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;

  &__logo {
    margin-left: 4rem;
    height: 4.6rem;
    display: block;
    cursor: pointer;
  }

  @media only screen and (max-width: $bp-small) {
    img {
      margin: 0 1rem;
    }
  }
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }
  }

  &__btn {
    font-weight: 600;
    font-family: inherit;
  }

  @media only screen and (max-width: $bp-medium) {
    &__field {
      width: auto;

      &::placeholder {
        color: white;
      }
    }
  }

  @media only screen and (max-width: $bp-small) {
    &__field {
      font-size: 1.5rem;
    }

    &__btn {
      background: transparent;
      color: $color-primary;
      padding: 1rem;
      & > *:first-child {
        margin: 0;
      }
      span {
        display: none;
      }
    }
  }
}

.nav {
  align-self: stretch;
  margin-right: 2.5rem;

  @media only screen and (max-width: $bp-small) {
    margin: 0;
  }

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    &-pr {
      position: relative;

      button {
        min-width: 17rem;
        justify-content: center;

        @media only screen and (max-width: $bp-small) {
          min-width: auto;
          span {
            display: none;
          }
        }
      }
    }

    //Hover list
    &--list {
      visibility: hidden;
      opacity: 0;
      z-index: 10;
      list-style: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #fff;
      border-bottom: 2px solid $color-primary;
      box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);
      transition: all 0.5s 0.2s;

      &-item {
        &:first-of-type {
          display: none;
        }
        button {
          justify-content: start;
          padding: 1.2rem 1rem;
        }
      }

      &:hover {
        visibility: visible;
        opacity: 1;
      }
    }

    @media only screen and (max-width: $bp-small) {
      &-pr {
        position: static;
      }

      &--list {
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 20rem;
        height: 100%;
        background-color: $color-grey-light-2;
        padding-left: 2rem;
        box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.22);

        &-item {
          &:first-of-type {
            display: block;
          }

          button {
            width: 100%;
            margin: 1rem 0;

            span {
              display: block;
            }
          }
        }
      }
    }
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    transition: all 0.3s;

    display: flex;
    align-items: center;

    svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: $color-primary;
      margin-right: 0.7rem;
      transform: translateY(-1px);

      &#user-icon {
        display: block;
      }
      &#hamburger-menu-icon {
        display: none;
      }
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }

    &--bookmarks {
      @media only screen and (max-width: $bp-small) {
        span {
          display: none;
        }
      }
    }

    @media only screen and (max-width: $bp-small) {
      svg#user-icon {
        display: none;
      }
      svg#hamburger-menu-icon {
        display: block;
      }
    }
  }
}

.bookmarks {
  padding: 1rem 0;
  position: absolute;
  right: 8rem;
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);
  list-style: none;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  &__field {
    cursor: pointer;
    padding: 0 4rem;

    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &:hover {
    visibility: visible;
    opacity: 1;
  }

  @media only screen and (max-width: $bp-small) {
    top: 52.8px;
    left: 0;
    right: 0%;
    width: 100%;

    &:hover {
      visibility: hidden;
      opacity: 0;
    }
  }
}
