<header class="header" *ngIf="currentUser && activeToken">
  <picture>
    <source
      media="(max-width: 500px)"
      srcset="../assets/img/logo_wtht_txt.png"
    />
    <img
      src="../assets/img/recipeplanetlogo.png"
      alt="Logo"
      class="header__logo"
      routerLink="/"
    />
  </picture>
  <form class="search" #f="ngForm" (ngSubmit)="onSearch(f)">
    <input
      type="text"
      class="search__field"
      placeholder="Search over 1,000,000 recipes..."
      ngModel
      required
      name="searchValue"
    />
    <button
      class="btn search__btn"
      type="submit"
      routerLink="/"
      [disabled]="!f.valid"
    >
      <svg class="search__icon">
        <use href="../assets/img/icons.svg#icon-search"></use>
      </svg>
      <span>Search</span>
    </button>
  </form>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <button class="nav__btn nav__btn--bookmarks" appCloseBtn>
          <svg class="nav__icon">
            <use href="../assets/img/icons.svg#icon-bookmark"></use>
          </svg>
          <span>Bookmarks</span>
        </button>
        <ul class="bookmarks">
          <div class="message" *ngIf="!bookmarks || bookmarks.length < 1">
            <div>
              <svg>
                <use href="../assets/img/icons.svg#icon-smile"></use>
              </svg>
            </div>
            <p>No bookmarks yet. Find a nice recipe and bookmark it :)</p>
          </div>
          <!--Bookmarks-->

          <div #cta class="close-cta" appCloseBtn>
            <button type="button">
              <svg>
                <use href="../assets/img/icons.svg#icon-cross"></use>
              </svg>
            </button>
          </div>

          <li class="preview" *ngFor="let bookmark of bookmarks">
            <a class="preview__link" [routerLink]="['/recipes', bookmark.recipe_key]">
              <figure class="preview__fig">
                <img [src]="bookmark.image_url" [alt]="bookmark.title" />
              </figure>
              <div class="preview__data">
                <h4 class="preview__title">
                  {{ bookmark.title | truncate: 27 }}
                </h4>
                <p class="preview__publisher">{{ bookmark.publisher }}</p>
              </div>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav__item-pr">
        <button class="nav__btn" appCloseBtn>
          <svg class="nav__icon" id="user-icon">
            <use href="../assets/img/icons.svg#icon-user"></use>
          </svg>

          <svg class="nav-icon" id="hamburger-menu-icon">
            <use href="../assets/img/icons.svg#icon-menu"></use>
          </svg>
          <span>{{ currentUser.first_name }}</span>
        </button>

        <ul class="nav__item--list">
          <div #cta class="close-cta" appCloseBtn>
            <button type="button">
              <svg>
                <use href="../assets/img/icons.svg#icon-cross"></use>
              </svg>
            </button>
          </div>

          <li class="nav__item--list-item">
            <button class="nav__btn">
              <svg class="nav__icon">
                <use href="../assets/img/icons.svg#icon-user"></use>
              </svg>
              <span>{{ currentUser.first_name }}</span>
            </button>
          </li>

          <li class="nav__item--list-item">
            <button
              class="nav__btn nav__btn--add-recipe"
              [routerLink]="['/recipes', 'add-recipe']"
            >
              <svg class="nav__icon">
                <use href="../assets/img/icons.svg#icon-edit"></use>
              </svg>
              <span>Add Recipe</span>
            </button>
          </li>

          <li class="nav__item--list-item">
            <button
              class="nav__btn nav__btn--add-recipe"
              [routerLink]="['/recipes', 'my-recipes']"
              (click)="onFetchMyRecipes()"
            >
              <svg class="nav__icon">
                <use href="../assets/img/icons.svg#icon-book"></use>
              </svg>
              <span>My Recipes</span>
            </button>
          </li>

          <li class="nav__item--list-item">
            <button class="nav__btn nav__btn--add-recipe" (click)="onLogout()">
              <svg class="nav__icon">
                <use href="../assets/img/icons.svg#icon-exit"></use>
              </svg>
              <span>Logout</span>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
