<div class="add-recipe-window">
  <form class="upload" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <app-spinner appAbsolutePos *ngIf="spinner"></app-spinner>
  <app-message appAbsolutePos *ngIf="message" [messageContent]="message"></app-message>
    <div class="upload__column">
      <h3 class="upload__heading">Recipe data</h3>
      <label>Title</label>
      <input  formControlName="title" type="text" />
      <label>URL</label>
      <input  formControlName="source_url" type="text" />
      <label>Image URL</label>
      <input  formControlName="image_url" type="text" />
      <label>Publisher</label>
      <input  formControlName="publisher" type="text" />
      <label>Prep time</label>
      <input   formControlName="cooking_time" type="number" />
      <label>Servings</label>
      <input formControlName="servings" type="number" />
    </div>

    <div class="upload__column" formArrayName="ingredients">
      <h3 class="upload__heading">Ingredients</h3>
      <div class="upload__ingredient" *ngFor="let _ of ingredients.controls; let i = index">
        <label [for]="'ingr-'+i">Ingredient {{i+1}}</label>
        <input
          [id]="'ingr-'+i"
          type="text"
          [formControlName] = "i"
          placeholder="Format: 'Quantity,Unit,Description'"
        />
        <button
          #btnDeleteIngr
          class="deleteIngrBtn"
          (click)="onDeleteIngredient(i)"
          [disabled] = "ingredients.length < 2"
          [ngClass]="{'btn-disabled': btnDeleteIngr.disabled }"
          type="button">
          <svg>
            <use href="../assets/img/icons.svg#icon-cross"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="upload__cta">
      <button
        class="btn upload__btn"
        type="submit"
        [ngClass]="{'btn-disabled':!recipeForm.valid}"
        [disabled]="!recipeForm.valid"
      >
        <svg>
          <use href="../assets/img/icons.svg#icon-upload-cloud"></use>
        </svg>
        <span>{{!updateRecipe ? 'Upload' : 'Update'}}</span>
      </button>

      <button class="btn add__ingredient__btn" type="button" (click)="addIngredient()">
        <svg>
          <use href="../assets/img/icons.svg#icon-plus"></use>
        </svg>
        <span>Add Ingredient</span>
      </button>

      <button class="btn add__ingredient__btn" type="button" (click)="onDeleteMyRecipe()" *ngIf="updateRecipe">
        <svg>
          <use href="../assets/img/icons.svg#icon-plus"></use>
        </svg>
        <span>Delete Recipe</span>
      </button>

    </div>

  </form>
</div>

