<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="userFormBox">
<app-message *ngIf="message && !errorMsg" appAbsolutePos [messageContent]="message"></app-message>
<app-message *ngIf="errorMsg" [errorMsg]="errorMsg" [errorMessageContent]="message" appAbsolutePos></app-message>
<!--<app-message  [errorMsg]="errorMsg" [errorMessageContent]="message" appAbsolutePos></app-message>-->

  <app-spinner *ngIf="spinner" appAbsolutePos></app-spinner>
  <img src="../../../assets/img/recipeplanetlogo.png" alt="logo">
  <label for="first_name">First Name</label>
  <input ngModel name="first_name" type="text" id="first_name"/>

  <label for="last_name">Last Name</label>
  <input ngModel required name="last_name" type="text" id="last_name"/>

  <label for="email">Email</label>
  <input ngModel required email name="email" type="email" id="email"/>

  <label for="password">Password</label>
  <small  style="color:#00000073; font-size: 1.1rem">*Password must contain at least 6 characters, with 1 uppercase letter and 1 digit</small>
  <input ngModel required minlength="6" name="password" type="password" id="password"/>

  <label for="password_confirmation">Repeat Password</label>
  <input ngModel required minlength="6" name="password_confirmation" type="password" id="password_confirmation"/>

  <button
    class="btn"
    type="submit"
    [ngClass]="{'btn-disabled':!f.valid}"
    [disabled]="!f.valid"
  >Sign Up</button>

  <a class="accQuest" [routerLink]="['/login']">Already have account? Sign In</a>
</form>
